{% load static %} {% load custom_filters %}

<div
    {% if div_id %}id="{{ div_id }}"{% endif %}
    class="flex flex-col justify-around{% if bg_border %} bg-brown-900 bg-opacity-50 border-2 border-{{ tiers_colors|get_item:item.tier }} rounded-md box-shadow-outline ml-2{% endif %}"
>
    <img src="{% get_media_prefix %}{{ item.img }}" alt="{{ item.name }}" class="w-full max-h-16 object-contain"/>
    <div class="flex flex-row justify-around">
        <img {% if div_id %}id="{{ div_id }}_race"{% endif %} src="{% get_media_prefix %}{{ item.race.img }}" alt="{{ item.race }}" class="w-6/12 mb-1 object-contain"/>
        <img {% if div_id %}id="{{ div_id }}_material"{% endif %} src="{% get_media_prefix %}{{ item.material.img }}" alt="{{ item.material }}" class="w-6/12 mb-1 object-contain"/>
    </div>
</div>