{% load static %}

<div class="flex justify-between mt-2 w-full px-2 py-2 mx-auto bg-brown-900 border-2 border-brown-400 text-white bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md">
    {% if show_icon %}
        <div class="flex flex-col w-16 px-2 md:pl-0 md:pr-2 md:w-1/12 justify-center text-center border-r-2 border-brown-400">
            <div class="h-12 w-12 bg-cover mx-auto">
                <img src="{% get_media_prefix %}{{ raceMaterial.img }}" alt="{{ img.race.name }}">
            </div>
            <div class="text-sm">{{ raceMaterial.name }}</div>
        </div>
    {% endif %}
    <div class="flex flex-col w-full px-2 break-words">
        <p class="border-b-2 border-brown-400 pb-2">
            {{ raceMaterial.bonus_1_min_nb_items_req }} Set - {{ raceMaterial.bonus_1 }}
        </p>
        <p class="{% if raceMaterial.bonus_3 %}border-b-2 border-brown-400{% endif %} py-2">
            {{ raceMaterial.bonus_2_min_nb_items_req }} Set - {{ raceMaterial.bonus_2 }}
        </p>
        {% if raceMaterial.bonus_3 %}
            <p class="py-2">
                {{ raceMaterial.bonus_3_min_nb_items_req }} Set - {{ raceMaterial.bonus_3 }}
            </p>
        {% endif %}
    </div>
</div>