{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}{% endblock %} - EA-Builders</title>
		<meta name="description" content="">
		<meta name="keywords" content="endless arena">
		<meta name="author" content="Rdyx">

		<link rel="shortcut icon" href="{%  static 'assets/favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		{% comment %} Load minified files in prod {% endcomment %}
		{% if debug %}
			<link rel="stylesheet" href="{% static 'css/eabuilders.css' %}">
			<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
			<link rel="stylesheet" href="{% static 'css/spinner.css' %}">
			<script type="text/javascript" src="{% static 'js/hitcounter.js' %}"></script>
		{% else %}
			<link rel="stylesheet" href="{% static 'css/eabuilders.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/navbar.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/spinner.min.css' %}">
			<script type="text/javascript" src="{% static 'js/hitcounter.min.js' %}"></script>
		{% endif %}
		{% include 'django_quill/media.html' %}
		{% block css %}{% endblock %}
		{% block head_js %}{% endblock %}
	</head>

	<body class="bg-grey-lightest font-sans leading-normal tracking-normal mb-5">
		{% include 'common/spinDiv.html' %}
		{% include 'common/navbar.html' %}
		<div class="container mx-auto">
			{% block content %}{% endblock %}
		</div>

		{% if debug %}
			<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/submitButtons.js' %}"></script>
		{% else %}
			<script type="text/javascript" src="{% static 'js/navbar.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/submitButtons.min.js' %}"></script>
		{% endif %}
		<script type="text/javascript" src="{% static 'js/alpine.min.js' %}"></script>
		<script type="text/javascript">
			const baseUrl = window.origin;
			updateHitCounterText(baseUrl, 'main-hitcounter', true);
		</script>
		{% block js %}{% endblock %}
	</body>

</html>
