{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mt-5 w-11/12 px-3 pb-2 mx-auto bg-brown-900 border-2 border-brown-400 text-white bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md">
    <div class="flex flex-col md:flex-row justify-between mt-2">
        <div class="md:w-9/12">
            <p class="text-3xl font-bold {% if user_profile.bio.html %}mb-2{% endif %}">
                {{ user_profile | title }} 
                {% if total_user_builds > 0 %}<span class="text-sm font-normal italic"> User has {{ total_user_builds }} builds</span>{% endif %}
            </p>
            
            {% if user_profile.bio.html %}
            <p>Bio:</p>
            <div class="flex flex-col px-2 bg-brown-900 border-2 border-brown-400 text-white bg-opacity-50 rounded-md md:mr-2 md:mb-0 mb-2 box-shadow-outline">
                
                    {{ user_profile.bio.html | safe }}
                </div>
            {% endif %}

        </div>
        
        <div class="md:w-3/12 flex flex-col text-center">
            {% if user_profile.ingame_name or user_profile.discord or user_profile.clan %}
                <div class="flex flex-col px-3 bg-brown-900 border-2 border-brown-400 bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md">
                    {% if user_profile.ingame_name %}
                        <p>
                            Ingame: {{ user_profile.ingame_name }}
                        </p>
                    {% endif %}
                    {% if user_profile.discord %}
                        <p>
                            Discord: {{ user_profile.discord }}
                        </p>
                    {% endif %}
                    {% if user_profile.clan %}
                        <p>
                            Clan: {{ user_profile.clan }}
                        </p>
                    {% endif %}
                </div>
            {% endif %}

            {% if user_profile.username == user.username %}
                <a href="{% url 'user_edit' %}" class="mt-3 focus:outline-none focus:ring-4 focus:ring-brown-900 px-3 bg-brown-900 border-2 border-brown-400 bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md">
                    Edit profile
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% if total_user_builds > 0 %}
    <div class="mt-5 w-11/12 px-3 py-2 mx-auto bg-brown-900 border-2 border-brown-400 text-white bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md">
        {% for build in user_builds %}
        <div class="w-full border-b-2 border-brown-800 text-center mb-4 pb-2">
            <a href="{% url 'get_build' build.slug %}" class="text-3xl">
                {{ build.name }}
            </a>
        </div>
            <div class="flex flex-col md:flex-row justify-between border-b-2 border-brown-800 pb-4">
                <div class="md:flex flex-col hidden justify-center">
                    <div class="flex flex-row">
                        {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_1 %}
                        {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_2 %}
                        {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_3 %}
                    </div>
                    <div class="flex flex-row">
                        {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_4 %}
                        {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_5 %}
                        {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_6 %}
                    </div>
                </div>
                <div class="flex flex-row md:hidden justify-center mb-2">
                    {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_1 %}
                    {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_2 %}
                    {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_3 %}
                    {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_4 %}
                    {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_5 %}
                    {% include 'components/subcomponents/skillIcon.html' with skill=build.skill_6 %}
                </div>

                <div class="flex flex-row">
                    {% include 'components/subcomponents/itemIcon.html' with item=build.item_1 %}
                    {% include 'components/subcomponents/itemIcon.html' with item=build.item_2 %}
                    {% include 'components/subcomponents/itemIcon.html' with item=build.item_3 %}
                    {% include 'components/subcomponents/itemIcon.html' with item=build.item_4 %}
                    {% include 'components/subcomponents/itemIcon.html' with item=build.item_5 %}
                    {% include 'components/subcomponents/itemIcon.html' with item=build.item_6 %}
                    {% include 'components/subcomponents/itemIcon.html' with item=build.item_7 %}
                    {% include 'components/subcomponents/itemIcon.html' with item=build.item_8 %}
                </div>
        {% endfor %}
        </div>

        <div class="mt-2 flex flex-row justify-between">
            {% if previous_page %}
                <a href="{% url 'user_profile' user_profile.username previous_page %}">< Previous Page</a>
            {% endif %}
            <p>
                Page {{ current_page }} of {% widthratio total_user_builds pagination 1 %}
            </p>
            {% if next_page %}
                <a href="{% url 'user_profile' user_profile.username next_page %}" class="">Next Page ></a>
            {% endif %}
        </div>
    </div>
{% endif %}
{% endblock %}