{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="px-3 py-2 mt-5 w-3/5 m-auto bg-brown-900 border-2 border-brown-400 text-white bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md">
        <div class="text-center mb-5">
            {% if user_form.errors %}
                {% for field in user_form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in user_form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="flex justify-center">
            <form method="POST" class="text-center">
                {% csrf_token %}
                {% include 'components/charfield.html' with field=user_form.username %}
                {% include 'components/charfield.html' with field=user_form.password1 %}
                {% include 'components/charfield.html' with field=user_form.password2 %}
                <input type="submit" value="Sign In" class="focus:outline-none focus:ring-4 focus:ring-brown-900 mb-5 px-3 bg-brown-900 border-2 border-brown-400 bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md"/>
            </form>
        </div>
        <div class="border-t-2 border-brown-800 px-2 pt-1 text-center ">
            Don't have an account yet? <a href="{% url 'register' %}">Register here!</a>
        </div>
    </div>
{{message}}
{% endblock %}