<div x-data="{ isOpen: false }" class="relative md:inline-block md:py-0 py-3 pr-3">
    <button @click="isOpen = !isOpen" type="button" 
        id="options-menu" aria-haspopup="true" aria-expanded="true"
        class="inline-flex justify-center rounded-md hover:bg-gray-600 shadow-sm px-3 cursor-pointer  focus:outline-none focus:bg-gray-600 w-full md:w-auto"
        >
        Index
    </button>

    <div x-show="isOpen" x-on:click.away="isOpen = false"
        x-transition:enter="transition ease-out duration-100 transform"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-75 transform"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        class="origin-top-right absolute right-3 mt-1 w-32 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
        <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
            <a href="{% url 'chars_index' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Heroes</a>
            <a href="{% url 'items_index' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Items</a>
            <a href="{% url 'races_index' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Races</a>
            <a href="{% url 'materials_index' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Materials</a>
        </div>
    </div>
</div>