{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="text-center px-3 py-2 mt-5 w-11/12 md:w-3/5 m-auto bg-brown-900 border-2 border-brown-400 text-white bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md">
        <form id="search-build-form" action="{% url 'search_build_results' %}" method="GET" class="w-full mt-2">
            {% for field in search_build_form %}
                {% include 'components/subcomponents/charfield.html' with field=field autocomplete="off" %}
            {% endfor %}
            <input id="search-build-form-submit" type="submit" value="Search" class="w-5/12 my-5 cursor-pointer hover:bg-brown-400 hover:text-white focus:outline-none focus:ring-4 focus:ring-brown-900 mb-5 px-3 bg-brown-900 border-2 border-brown-400 bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md"/>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/searchBuildForm.js' %}"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
{% endblock %}