<body>
    <!-- <ul>
        {% for k,v in character.items %}
        <li>{{k}}: {{v}}</li>
        {% endfor %}
    </ul> -->
    <!-- {% for field in character.dict %} -->
    <!-- {{field}} -->
    <!-- {% endfor %} -->
    {{character}}
    {% for skill in character_skills %}
    {{skill}}
    {%endfor%}
    {{character_skills}}
    <!-- {{character.char_skill_1}}
    {{character.char_skill_1.skill_type.color}}
    {{character.char_skill_2.skill_type.color}}
    {{character.char_skill_3.skill_type.name}} -->
</body>