input, button, select, img {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background: repeat;
  background-image: url(../assets/bg-sword.png);
  background-color: #000;
  background-attachment: fixed;
}

.box-shadow-outline {
  box-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
}

.text-shadow-outline {
  -webkit-font-smoothing: antialiased;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
}

.text-yellow-html {
  color: yellow;
}

a, input[type='submit'] {
  color: yellow;
}

a:hover {
  color: #fff;
}

select[multiple] {
  min-height: 10.5rem;
}

select[multiple][name="game_mode"] {
  min-height: auto;
  max-height: 4.5rem;
}

select[multiple] option {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

select[multiple] option:checked {
  background: #997857 linear-gradient(0deg, #997857 0%, #997857 100%);
  -webkit-text-fill-color: yellow;
  border-radius: 0.375rem;
}