{% load static %}

<div class="my-auto text-2xl">
    <form method="POST" class="flex px-3 py-2 mx-auto bg-brown-900 border-2 border-brown-400 bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md">
        {% csrf_token %}
        <button type="submit" name="downvote" value="downvote" class="object-contain w-8 transform rotate-180 fill-current text-red-500">
            {% include 'assets/like_icon.svg' %}
        </button>
        <span class="mx-3 text-{% if model.votes > 0 %}green-400{% elif model.votes < 0 %}red-500{% else %}white{% endif %}">
            {% if model.votes > 0 %}+{% endif %}{{ model.votes }}
        </span>
        <button type="submit" name="upvote" value="upvote" class="object-contain w-8 fill-current text-green-400">
            {% include 'assets/like_icon.svg' %}
        </button>
    </form>
</div>