{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="mt-5 w-11/12 px-3 py-2 mx-auto bg-brown-900 border-2 border-{{ tiers_colors|get_item:item.tier }} text-white bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md">
        <div class="w-full border-b-2 border-brown-800 text-center mb-4 pb-2">
            <p class="text-3xl text-{{ tiers_colors|get_item:item.tier }}">
                {{ item.name }}
            </p>
        </div>
        <div class="w-full border-b-2 border-brown-800 text-center mb-4 pb-2">
            <img src="/media/{{ item.img }}" alt="{{ item.name }}" class="m-auto">
        </div>
        <div class="w-full border-brown-800 text-center mb-2">
            {% include 'components/subcomponents/itemPriceSpan.html' with item=item %}
            {% include 'components/subcomponents/itemStatsTable.html' with item=item %}
        </div>
        {% include 'components/subcomponents/raceMaterialInfoDiv.html' with show_icon=True raceMaterial=item.race %}
        {% include 'components/subcomponents/raceMaterialInfoDiv.html' with show_icon=True raceMaterial=item.material %}
    </div>
{% endblock %}