{% load static %}

<div class="font-bold text-shadow-outline bg-brown-900 p-5 border-b-2 border-gray-900 sticky top-0 max-h-20 overflow-visible z-40">
    <nav class="flex md:flex-row justify-between">
        <div class="flex flex-col md:flex-row w-5/12 h-full mr-3">
            <div class="w-auto my-auto">
                <a href="{% url 'index' %}">EA-Builders</a>
            </div>
            <div class="flex text-yellow-html w-full md:w-auto justify-center px-3 mx-auto bg-brown-900 border-2 border-brown-400 bg-opacity-50 box-shadow-outline text-shadow-outline rounded-md">
                <span class="my-auto fill-current fill-transparent w-6 object-fill stroke-2 mr-2">
                    {% include 'assets/eye.svg' %}
                </span>
                <span id="main-hitcounter" class="my-auto">
                    ...
                </span>
            </div>
        </div>
        <div class="w-6/12 md:w-auto flex justify-end">
            <div id="hamburgerbtn" class="lg:hidden h-8 w-8 flex justify-end">
                <img class="object-fill h-6" src="{% static 'assets/menu.svg' %}" alt="menu">
            </div>

        <ul class="hidden lg:flex lg:flex-row bg-brown-900 border-l-2 border-white lg:border-none" id="mobileMenu">
            <li class="inline-flex lg:py-0 py-3 justify-center rounded-md hover:bg-brown-600 shadow-sm px-3 mr-3 cursor-pointer focus:outline-none focus:bg-brown-600 w-full lg:w-auto my-auto">
                <a href="{% url 'news_index' %}">News</a>
            </li>

            {% include 'components/indexNavbarButton.html' %}
            {% include 'components/buildsNavbarButton.html' %}
            {% include 'components/teamsNavbarButton.html' %}

            <li class="inline-flex lg:py-0 py-3 justify-center rounded-md hover:bg-brown-600 shadow-sm px-3 mr-3 cursor-pointer focus:outline-none focus:bg-brown-600 w-full lg:w-auto my-auto">
                <a href="{% url 'news' 'about' %}">About</a>
            </li>

            {% if user.is_authenticated %}
                <li class="inline-flex lg:py-0 py-3 justify-center rounded-md hover:bg-brown-600 shadow-sm px-3 mr-3 cursor-pointer focus:outline-none focus:bg-brown-600 w-full lg:w-auto my-auto">
                    <a href="{% url 'user_profile' user.username %}">{{ user | title }}</a>
                </li>
                <li class="inline-flex lg:py-0 py-3 justify-center rounded-md hover:bg-brown-600 shadow-sm px-3 cursor-pointer focus:outline-none focus:bg-brown-600 w-full lg:w-auto my-auto">
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="inline-flex lg:py-0 py-3 justify-center rounded-md hover:bg-brown-600 shadow-sm px-3 cursor-pointer focus:outline-none focus:bg-brown-600 w-full lg:w-auto my-auto">
                    <a href="{% url 'login' %}">Sign In</a>
                </li>
            {% endif %}

        </ul>
    </div>

    </nav>
</div>
