<div class="text-white bg-gray-800 p-5 border-b-2 border-gray-900 sticky top-0">
    <nav class="flex flex-row justify-between">
            <a href="#">Logo</a>
            <p id="hamburgerbtn" class="md:hidden bg-purple-800">
                menu
            </p>

        <ul class="hidden md:flex md:flex-row" id="mobileMenu">
            {% include 'components/indexNavbarButton.html' %}
            {% include 'components/buildsNavbarButton.html' %}
            <li class="pr-3"><a> Services </a></li>
            <li class="pr-3"><a>Index</a></li>
            <li class="pr-3"><a>About</a></li>
            <li class="pr-3"><a href="{% url 'news' 'about' %}">About</a></li>

            {% if user.is_authenticated %}
                <li class="pr-3"><a href="{% url 'user_edit' %}">{{ user | title }}</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="pr-3">
                    <a href="{% url 'login' %}">Sign In</a>
                </li>
                <li><a href="{% url 'register' %}">Sign Up</a></li>
            {% endif %}

        </ul>
    </nav>
</div>
