<div class="bg-yellow-500 p-5 border-b-2 border-yellow-900 sticky top-0">
    <nav class="flex flex-row justify-between">
            <a href="#">Logo</a>
            <p id="hamburgerbtn" class="md:hidden bg-purple-800">
                menu
            </p>

        <ul class="hidden md:flex md:flex-row" id="mobileMenu"">
            <li class="pr-5"><a> Services </a></li>
            <li class="pr-5"><a>Porfolio</a></li>
            <li class="pr-5"><a>About</a></li>
            <li class="pr-5"><a>Contact</a></li>
            <li class="pr-5"><a href="">Sign In</a></li>
            <li><a href="">Sign Up</a></li>
        </ul>
    </nav>
</div>
